/* productos */
.flex-container {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "foto-1 foto-2 foto-3 foto-4"
    "foto-5 foto-6 foto-7 foto-8"
    "foto-4 foto-5 foto-6 foto-6"
    "foto-7 foto-8 foto-8 foto-9";
    grid-gap: 5px;
  
    div {
      img {
        width: 200px;
        height: 200px;
        background-color: $background-color;
        border: 2px solid $border-color;
        margin: 20px;
        padding: 10px;
        text-align: center;
        display: grid;
        object-fit: cover;
      }
    }
  }