.centrada {
  display: block;
  margin: 0 auto;
  width: 195px;
  height: 46.1063px;
}

.menucostado {
  list-style: none;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}

.menucostado span {
  margin-inline: 10px;
  text-align: right;
}

.menucostado span {
  text-decoration: none;
  color: rgb(2, 2, 2);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

span {
  text-decoration: none;
  color: black;
}

.imagenes {
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 550px;
}

.imagenes img {
  width: 450px;
  height: 800px;
  margin-top: -170px;
}


.fondonegro {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 100px;
}

.menunormal {
  list-style: none;
  padding: 0;
  position: left;
  top: 0;
  right: 0;
  padding: 30px;
}

.menunormal li {
  display: block;
  margin-right: 20px;
}

.menunormal li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "foto-1 foto-2 foto-3 foto-4"
  "foto-5 foto-6 foto-7 foto-8"
  "foto-4 foto-5 foto-6 foto-6"
  "foto-7 foto-8 foto-8 foto-9";
  grid-gap: 5px;
}

.grid-container div img {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  margin: 20px;
  padding: 10px;
  text-align: center;
  display: grid;
  object-fit: cover;
}

  
.carousel {
  width: 1400px;
  height: 840px;
  margin-left: auto;
  margin-right: 150px;
  margin-top: -160px;
  
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  
}

.imagenes-invierno {
  display: flex; 
  justify-content: right; 
  align-items: right;
  width: 100%; 
  gap: 50px;
}

.imagenes-invierno a {
  display: block;
  text-align: center; 
}

.imagenes-invierno img {
  width: 661px;
  height: auto;
  margin-top: -170px;
}

.pagina-negra {
  background-color: black;
  color: white;
}

.imagen-verano img {
  width: 1237px;
  height: 695px;
  display: block;
  margin: 0 auto;
}

.menublanco {
  list-style: none;
  padding: 0;
  position: fixed;
  top: 70px;
  right: 0;
  padding: 30px;
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
}

.menublanco span {
  margin-inline: 10px;
  text-align: right;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.menunormalblanco {
  list-style: none;
  padding: 0;
  position: left;
  top: 0;
  right: 0;
  padding: 30px;
}

.menunormalblanco li {
  display: block;
  margin-right: 20px;
}

.menunormalblanco li a {
  text-decoration: none;
  color: white
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
} 

form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 170px;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  color: white;
}

.form-label {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.form-control {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form-text {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  
}

.form-check-input {
  width: 18px;
  height: 18px;
}

.form-check-label {
  margin-left: 30px;
}

.btn-color {
  background-color: #fdb2d5;
  color: white;
  border-radius: 20px; 
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn-color:hover {
  background-color: #6e485a;
}

/* media query para pantallas entre 480px y 896px index PEQUEÑOS*/
@media (min-width: 480px) and (max-width: 896px) {
  .centrada {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 46.1063px;
  }
  
  .menucostado {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 70px;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
  }
  
  .menucostado span {
    margin-inline: 10px;
    text-align: right;
    color: rgb(2, 2, 2);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
   
  .menunormal {
    list-style: none;
    padding: 0;
    position: left;
    top: 0;
    right: 0;
    padding: 30px;
  }
  
  .menunormal li {
    display: block;
    margin-right: 20px;
  }
  
  .menunormal li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagenes img {
    width: 480px;
    height: 800px;
    margin-top: 150px;
    margin-bottom: 0;
  }

  .fondonegro {
    text-align: center;
  }

  .fondonegro img {
    max-width: 100px;
  }
}

  /* media query para pantallas entre 768px y 1200px todos los productos MEDIANOS*/
@media (min-width: 768px) and (max-width: 1200px) {
  
  .centrada {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 46.1063px;
  }
  
  .menucostado {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 70px;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
  }
  
  .menucostado span {
    margin-inline: 10px;
    text-align: right;
    color: rgb(2, 2, 2);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .flex-container {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 5px;
  }
  
  .box {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    margin: px;
    padding: px;
    text-align: left;
    display: grid;
  }
  }
  
 /* media query para pantallas entre 768px y 1200px index MEDIANOS*/
@media (min-width: 768px) and (max-width: 1200px) {
  .centrada {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 46.1063px;
  }
  
  .menucostado {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 70px;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
  }
  
  .menucostado span {
    margin-inline: 10px;
    text-align: right;
    color: rgb(2, 2, 2);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
   
  .menunormal {
    list-style: none;
    padding: 0;
    position: left;
    top: 0;
    right: 0;
    padding: 30px;
  }
  
  .menunormal li {
    display: block;
    margin-right: 20px;
  }
  
  .menunormal li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagenes img {
    width: 480px;
    height: 800px;
    margin-top: 150px;
    margin-bottom: 0;
  }

  .fondonegro {
    text-align: center;
  }

  .fondonegro img {
    max-width: 100px;
  }
}
  
  /* media query para pantallas entre 480px y 896px todos los productos PEQUEÑAS*/
@media (min-width: 480px) and (max-width: 896px) {
  
  .centrada {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 46.1063px;
  }
  
  .menucostado {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 70px;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
  }
  
  .menucostado span {
    margin-inline: 10px;
    text-align: right;
    color: rgb(2, 2, 2);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .flex-container {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  
  .box {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    margin: px;
    padding: px;
    text-align: left;
    display: grid;
  }
  }
   
.encabezado-con-fondo {
  background-image: url('../multimedia/NewJeans\ \(뉴진스\)\ \'ASAP\'\ Teaser_00052.png');
  background-size: cover; 
  background-repeat: no-repeat; 
}
